@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/sections-bg.css");

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: rgba(2, 15, 8, 0.5);
}

@layer utilities {
  .section {
    @apply py-[54px] md:py-[64px] lg:py-[104px];
  }
  .body-small {
    @apply text-[12px] font-extralight leading-5 lg:leading-6;
  }
  .body-extralight {
    @apply text-[14px] font-extralight leading-5 md:text-[16px] lg:text-[18px] lg:leading-6;
  }

  .body-label {
    @apply text-[14px] font-normal leading-6 md:text-[16px] lg:text-[18px] lg:leading-6;
  }

  .body-extralight-13 {
    @apply text-[14px] font-extralight leading-5 md:text-[13px] lg:text-[18px] lg:leading-6;
  }

  .title-thin {
    @apply text-[40px] md:text-[67px] font-thin md:leading-[81px] leading-[56px] lg:text-[98px] lg:leading-[118px] tracking-[-0.04em] uppercase;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: white;
  }

  .overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: #020f08bf;
    transition: opacity 800ms;
    z-index: 50;
  }

  .horizontal {
    width: 100%;
  }

  .square {
    @apply relative;
  }
  .square::before {
    @apply absolute top-1/2 left-0 w-[6px] h-[6px] -translate-y-1/2 rotate-45 bg-white;
    content: " ";
  }

  .big-border {
    @apply relative;
  }
  .big-border::before {
    @apply absolute top-1/2 left-1/2 w-[20px] h-[20px] -translate-y-1/2 -translate-x-1/2  bg-white -z-50;
    content: " ";
  }

  .phone-prefix {
    @apply relative;
  }
  .phone-prefix::before {
    @apply absolute font-extralight text-[13px] lg:text-[20px] leading-6 bottom-[-31px] md:bottom-[-33px] lg:bottom-[-35px]  left-2 text-white;
    content: "+38";
  }

  .corners-border {
    width: 100%;
    height: 53px;
    background:
      linear-gradient(to right, #fff 1px, transparent 1px) 0 0,
      linear-gradient(to right, #fff 1px, transparent 1px) 0 100%,
      linear-gradient(to left, #fff 1px, transparent 1px) 100% 0,
      linear-gradient(to left, #fff 1px, transparent 1px) 100% 100%,
      linear-gradient(to bottom, #fff 1px, transparent 1px) 0 0,
      linear-gradient(to bottom, #fff 1px, transparent 1px) 100% 0,
      linear-gradient(to top, #fff 1px, transparent 1px) 0 100%,
      linear-gradient(to top, #fff 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 50px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease-in-out;
  }
  .corners-border:hover,
  .corners-border:focus,
  .corners-border:active {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .underline-on-hover {
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  .underline-on-hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }
  .underline-on-hover:hover::before,
  .underline-on-hover:active::before {
    transform: scaleX(1);
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  .section {
    @apply py-[54px] md:py-[64px] lg:py-[104px];
  }
  .body-small {
    @apply text-[12px] font-extralight leading-5 lg:leading-6;
  }
  .body-extralight {
    @apply text-[14px] font-extralight leading-5 md:text-[16px] lg:text-[18px] lg:leading-6;
  }

  .body-label {
    @apply text-[14px] font-normal leading-6 md:text-[16px] lg:text-[18px] lg:leading-6;
  }

  .body-extralight-13 {
    @apply text-[14px] font-extralight leading-5 md:text-[13px] lg:text-[18px] lg:leading-6;
  }

  .title-thin {
    @apply text-[40px] md:text-[67px] font-thin md:leading-[81px] leading-[56px] lg:text-[98px] lg:leading-[118px] tracking-[-0.04em] uppercase;
  }
}
