@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .home-bg-mob {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/hero-bg-320.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/hero-bg-320.webp) type("image/webp") 1x, url(/images/hero-bg-320@2x.webp)
            type("image/webp") 2x, url(/images/hero-bg-320.jpg) 1x, url(/images/hero-bg-320@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/hero-bg-320.webp) type("image/webp") 1x,
        url(/images/hero-bg-320@2x.webp) type("image/webp") 2x,
        url(/images/hero-bg-320.jpg) 1x,
        url(/images/hero-bg-320@2x.jpg) 2x
      );
  }
  .home-bg-tab {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/hero-bg-768.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/hero-bg-768.webp) type("image/webp") 1x, url(/images/hero-bg-768@2x.webp)
            type("image/webp") 2x, url(/images/hero-bg-768.jpg) 1x, url(/images/hero-bg-768@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/hero-bg-768.webp) type("image/webp") 1x,
        url(/images/hero-bg-768@2x.webp) type("image/webp") 2x,
        url(/images/hero-bg-768.jpg) 1x,
        url(/images/hero-bg-768@2x.jpg) 2x
      );
  }
  .home-bg-desk {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/hero-bg-1280.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/hero-bg-1280.webp) type("image/webp") 1x, url(/images/hero-bg-1280@2x.webp)
            type("image/webp") 2x, url(/images/hero-bg-1280.jpg) 1x, url(/images/hero-bg-1280@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/hero-bg-1280.webp) type("image/webp") 1x,
        url(/images/hero-bg-1280@2x.webp) type("image/webp") 2x,
        url(/images/hero-bg-1280.jpg) 1x,
        url(/images/hero-bg-1280@2x.jpg) 2x
      );
  }
  .home {
    @apply home-bg-mob md:home-bg-tab lg:home-bg-desk relative bg-[#D9D9D9] bg-cover bg-center;
  }
  .about-bg-mob {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/about-bg-320.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/about-bg-320.webp) type("image/webp") 1x, url(/images/about-bg-320@2x.webp)
            type("image/webp") 2x, url(/images/about-bg-320.jpg) 1x, url(/images/about-bg-320@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/about-bg-320.webp) type("image/webp") 1x,
        url(/images/about-bg-320@2x.webp) type("image/webp") 2x,
        url(/images/about-bg-320.jpg) 1x,
        url(/images/about-bg-320@2x.jpg) 2x
      );
  }
  .about-bg-tab {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/about-bg-768.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/about-bg-768.webp) type("image/webp") 1x, url(/images/about-bg-768@2x.webp)
            type("image/webp") 2x, url(/images/about-bg-768.jpg) 1x, url(/images/about-bg-768@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/about-bg-768.webp) type("image/webp") 1x,
        url(/images/about-bg-768@2x.webp) type("image/webp") 2x,
        url(/images/about-bg-768.jpg) 1x,
        url(/images/about-bg-768@2x.jpg) 2x
      );
  }
  .about-bg-desk {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/about-bg-1280.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/about-bg-1280.webp) type("image/webp") 1x, url(/images/about-bg-1280@2x.webp)
            type("image/webp") 2x, url(/images/about-bg-1280.jpg) 1x, url(/images/about-bg-1280@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/about-bg-1280.webp) type("image/webp") 1x,
        url(/images/about-bg-1280@2x.webp) type("image/webp") 2x,
        url(/images/about-bg-1280.jpg) 1x,
        url(/images/about-bg-1280@2x.jpg) 2x
      );
  }

  .about {
    @apply about-bg-mob md:about-bg-tab xl:about-bg-desk relative bg-[#D9D9D9] bg-cover bg-center;
  }

  .career-bg-mob {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/career-bg-320.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/career-bg-320.webp) type("image/webp") 1x, url(/images/career-bg-320@2x.webp)
            type("image/webp") 2x, url(/images/career-bg-320.jpg) 1x, url(/images/career-bg-320@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/career-bg-320.webp) type("image/webp") 1x,
        url(/images/career-bg-320@2x.webp) type("image/webp") 2x,
        url(/images/career-bg-320.jpg) 1x,
        url(/images/career-bg-320@2x.jpg) 2x
      );
  }
  .career-bg-tab {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/career-bg-768.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/career-bg-768.webp) type("image/webp") 1x, url(/images/career-bg-768@2x.webp)
            type("image/webp") 2x, url(/images/career-bg-768.jpg) 1x, url(/images/career-bg-768@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/career-bg-768.webp) type("image/webp") 1x,
        url(/images/career-bg-768@2x.webp) type("image/webp") 2x,
        url(/images/career-bg-768.jpg) 1x,
        url(/images/career-bg-768@2x.jpg) 2x
      );
  }
  .career-bg-desk {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/career-bg-1280.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/career-bg-1280.webp) type("image/webp") 1x, url(/images/career-bg-1280@2x.webp)
            type("image/webp") 2x, url(/images/career-bg-1280.jpg) 1x, url(/images/career-bg-1280@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/career-bg-1280.webp) type("image/webp") 1x,
        url(/images/career-bg-1280@2x.webp) type("image/webp") 2x,
        url(/images/career-bg-1280.jpg) 1x,
        url(/images/career-bg-1280@2x.jpg) 2x
      );
  }

  .career {
    @apply career-bg-mob md:career-bg-tab xl:career-bg-desk relative bg-[#D9D9D9] bg-cover bg-center;
  }

  .gallery-bg-mob {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/gallery-bg-320.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/gallery-bg-320.webp) type("image/webp") 1x, url(/images/gallery-bg-320@2x.webp)
            type("image/webp") 2x, url(/images/gallery-bg-320.jpg) 1x, url(/images/gallery-bg-320@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/gallery-bg-320.webp) type("image/webp") 1x,
        url(/images/gallery-bg-320@2x.webp) type("image/webp") 2x,
        url(/images/gallery-bg-320.jpg) 1x,
        url(/images/gallery-bg-320@2x.jpg) 2x
      );
  }
  .gallery-bg-tab {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/gallery-bg-768.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/gallery-bg-768.webp) type("image/webp") 1x, url(/images/gallery-bg-768@2x.webp)
            type("image/webp") 2x, url(/images/gallery-bg-768.jpg) 1x, url(/images/gallery-bg-768@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/gallery-bg-768.webp) type("image/webp") 1x,
        url(/images/gallery-bg-768@2x.webp) type("image/webp") 2x,
        url(/images/gallery-bg-768.jpg) 1x,
        url(/images/gallery-bg-768@2x.jpg) 2x
      );
  }
  .gallery-bg-desk {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/gallery-bg-1280.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/gallery-bg-1280.webp) type("image/webp") 1x, url(/images/gallery-bg-1280@2x.webp)
            type("image/webp") 2x, url(/images/gallery-bg-1280.jpg) 1x, url(/images/gallery-bg-1280@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/gallery-bg-1280.webp) type("image/webp") 1x,
        url(/images/gallery-bg-1280@2x.webp) type("image/webp") 2x,
        url(/images/gallery-bg-1280.jpg) 1x,
        url(/images/gallery-bg-1280@2x.jpg) 2x
      );
  }

  .gallery {
    @apply gallery-bg-mob md:gallery-bg-tab xl:gallery-bg-desk relative bg-[#0A1813] bg-cover bg-center;
  }

  .contacts-bg-mob {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/contacts-bg-320.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/contacts-bg-320.webp) type("image/webp") 1x, url(/images/contacts-bg-320@2x.webp)
            type("image/webp") 2x, url(/images/contacts-bg-320.jpg) 1x, url(/images/contacts-bg-320@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/contacts-bg-320.webp) type("image/webp") 1x,
        url(/images/contacts-bg-320@2x.webp) type("image/webp") 2x,
        url(/images/contacts-bg-320.jpg) 1x,
        url(/images/contacts-bg-320@2x.jpg) 2x
      );
  }
  .contacts-bg-tab {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/contacts-bg-768.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/contacts-bg-768.webp) type("image/webp") 1x, url(/images/contacts-bg-768@2x.webp)
            type("image/webp") 2x, url(/images/contacts-bg-768.jpg) 1x, url(/images/contacts-bg-768@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/contacts-bg-768.webp) type("image/webp") 1x,
        url(/images/contacts-bg-768@2x.webp) type("image/webp") 2x,
        url(/images/contacts-bg-768.jpg) 1x,
        url(/images/contacts-bg-768@2x.jpg) 2x
      );
  }
  .contacts-bg-desk {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url(/images/contacts-bg-1280.jpg);
    background-image:
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      -webkit-image-set(url(/images/contacts-bg-1280.webp) type("image/webp") 1x, url(/images/contacts-bg-1280@2x.webp)
            type("image/webp") 2x, url(/images/contacts-bg-1280.jpg) 1x, url(/images/contacts-bg-1280@2x.jpg)
            2x);
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/contacts-bg-1280.webp) type("image/webp") 1x,
        url(/images/contacts-bg-1280@2x.webp) type("image/webp") 2x,
        url(/images/contacts-bg-1280.jpg) 1x,
        url(/images/contacts-bg-1280@2x.jpg) 2x
      );
  }

  .contacts {
    @apply contacts-bg-mob md:contacts-bg-tab xl:contacts-bg-desk relative bg-[#D9D9D9] bg-cover bg-center;
  }
}
